<div class="nav">
    <!-- <button class="btn" onclick="javascript:history.back();">Previous</button> -->
    <!-- <button class="btn" onclick="javascript:history.forward();">Next</button> -->
    <input type="button" id="previous" class="btn" onclick="previousPage()" value="previous" />
    <input type="button" id="next" class="btn" onclick="nextPage()" value="next" />
</div>