<%- include('../partials/questions/doctype') %>

<body>
        <div class='content-intro-four'>
            
            <div class="four">

                <p class="four-four"> 404</p>
                <p class="wrong">Nope, wrong.</p>
                <button onclick="window.location.href = '/';" class="btn">Get me back on the right track</button>

            </div>

        
</body>