<%- include('../partials/questions/doctype') %>

<body>
    <%- include('../partials/questions/header') %>
    <div class='main'>
        <div class='content-intro'>
            <div class="box-1">
                <h2>Question 1</h2>
                <p>Type something inside of the answer div and reload the page...</p>
                <button onclick="window.location.href = '/question1';" class="btn-1">View the question</button>
            </div>
            <div class="box-1">
                <h2>Question 2</h2>
                <p>Pass that variable to the ejs file via the render method.
                    Uncomment the line in that contains the variable...</p>
                <button onclick="window.location.href = '/question2';" class="btn-1">View the question</button>

            </div>
            <div class="box-1">
                <h2>Question 3</h2>
                <p> Pass the contents of that object to the ejs file via the render method.</p>
                <button onclick="window.location.href = '/question3';" class="btn-1">View the question</button>
            </div>
            <div class="box-1">
                <h2>Question 4</h2>
                <p>Pass only the top three names to the ejs file via the render method.</p>
                <button onclick="window.location.href = '/question4';" class="btn-1">View the question</button>
            </div>
            <div class="box-1">
                <h2>Question 5</h2>
                <p>In function q5, there is a variable declared named popularGirlNames.</p>
                <button onclick="window.location.href = '/question5';" class="btn-1">View the question</button>
            </div>
            <div class="box-1">
                <h2>Question 6</h2>
                <p>This code is repeated for all of the question pages... sooooo not DRY... </p>
                <button onclick="window.location.href = '/question6';" class="btn-1">View the question</button>
            </div>
            <div class="box-1">
                <h2>Question 7</h2>
                <p>Repeat what you did in Question 6 for this snippet as well...</p>
                <button onclick="window.location.href = '/question7';" class="btn-1">View the question</button>
            </div>
            <div class="box-1">
                <h2>Question 8</h2>
                <p>It would be great if there was a way to navigate between questions directly from the page... </p>
                <button onclick="window.location.href = '/question8';" class="btn-1">View the question</button>
            </div>
            <div class="box-1">
                <h2>Question 9</h2>
                <p>Modify this endpoint in the server.js file to point to your newwly created homepage.ejs file...</p>
                <button onclick="window.location.href = '/question9';" class="btn-1">View the question</button>
            </div>
            <div class="box-1">
                <h2>Question 10</h2>
                <p>Repeat what you did for Question 9 here. Add a fourOhFour.ejs page and spruce it up. Make it a fun
                    page...</p>
                <button onclick="window.location.href = '/question10';" class="btn-1">View the question</button>
            </div>



        </div>
</body>